//
//  Release.xcconfig
//  quandoo
//
//  Created by Hosein Abbaspour on 3/9/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

XCC_BUNDLE_NAME = Quandoo
XCC_CONFIG_PATH = quandoo/Resources/Configurations/Release/Config.plist
